<h1>Mi Perfil</h1>

<% unless empty_profile?(@profile) %>

  <p>Nombre: <%= @profile.name %></p>
  <p>Ubicacion: <%= @profile.location %></p>
  <p>Web: <%= @profile.web %></p>
  <p>Bio: <%= @profile.bio %></p>

  <%= link_to "Editar", edit_profile_path(@profile) %>

<% else %>
  <h4><%= show_name_or_email %> Todavia no tienes perfil</h4>
  <%= link_to "Crear mi perfil", new_profile_path, class: "btn btn-primary"  %>
<% end %>
